body {
  background-image: url(../images/star-sky.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px; }

header {
  color: white; }
  header h1 {
    text-align: center;
    font-family: 'Gruppo', cursive;
    color: rgba(255, 0, 252, 0.96);
    text-shadow: -2px 5px 9px #e70000; }
  header .back-arrow {
    position: absolute;
    top: 0;
    left: 19px;
    font-size: 72px;
    font-family: 'Orbitron', sans-serif; }
    header .back-arrow a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.18); }
    header .back-arrow a:hover {
      color: white; }

div.planet {
  background-image: url(../images/uranus.jpg);
  background-size: 335px 336px;
  background-position: 50% -31px;
  background-repeat: no-repeat;
  width: 271px;
  height: 271px;
  margin: 0 auto;
  border-radius: 50%; }

p:first-child {
  margin-top: 33px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

main p {
  color: #c7bbe8;
  opacity: 100%;
  animation-name: fadeIn;
  animation-duration: 2s;
  font-family: 'Orbitron', sans-serif;
  padding-left: 13px;
  background-color: rgba(0, 0, 0, 0.45); }
  @media (min-width: 768px) {
    main p {
      text-align: center;
      letter-spacing: 2px;
      font-size: 20px; } }
