div.planet {
    background-image: url(../images/pluto.jpg);
    background-size: 336px 336px;
    background-position: 50% -17px;
    background-repeat: no-repeat;
    width: 292px;
    height: 296px;
    margin: 0 auto;
    border-radius: 50%;       
}  

p:first-child {
    margin-top: 33px; 
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity:100%;}
}

main p {    
    color: #ffffff;
    opacity: 100%; 
    animation-name: fadeIn;
    animation-duration: 2s;      
    font-family: 'Orbitron', sans-serif;
    padding-left: 13px;
    background-color: rgba(0, 0, 0, 0.45);

    @media(min-width:768px){
        text-align: center;
        letter-spacing: 2px;
        font-size: 20px;
    }    
    
}    