div.planet {
    background-image: url(../images/earth.jpg);
    background-size: 343px 341px;
    background-position: 43% -19px;
    background-repeat: no-repeat;
    width: 302px;
    height: 303px;
    margin: 0 auto;
    border-radius: 50%;      
}    

p:first-child {
    margin-top: 33px; 
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity:100%;}
}
  
main p {
    color: #afc6ff;
    opacity: 100%; 
    animation-name: fadeIn;
    animation-duration: 2s;      
    font-family: 'Orbitron', sans-serif;
    padding-left: 13px;
    background-color: rgba(0, 0, 0, 0.45);

    @media(min-width:768px){
        text-align: center;
        letter-spacing: 2px;
        font-size: 20px;
    }    
    
}    