body {
    margin: 0px; 
    padding: 0px; 
    font-family: sans-serif;   
}    

* {
    box-sizing: border-box;  
}  

// font-family: 'Artifika', serif;
// font-family: 'Amatic SC', cursive;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Stint Ultra Expanded', cursive;
// font-family: 'Codystar', cursive;