header {
    background-image: url(../images/star-sky.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;   
    transition-property: background-size;   
    transition-duration: 2s;   
      
    h1 {  
    color: rgb(249, 99, 99);
    text-shadow: 7px 7px 14px rgba(255, 0, 172, 0.37);
    margin: 20px auto;
    background-color: rgba(0, 0, 255, 0.16);
    text-align: center;
    width: 274px;
    box-shadow: 0px 0px 146px 16px rgba(0, 0, 255, 0.53);
    padding: 42px;
    font-family: 'Orbitron', sans-serif;
    font-size: 39px;
  
    }
  


}      

.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 77px;
    left: 77px;
}

  .orbit-ring {
     height: 300px;
    border: rgba(0, 41, 255, 0.47) solid 1px;
    width: 300px;
    position: absolute;
    top: 219px;    
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    left: -18px;
    right: 0;  
    color: white; 
    padding-left: 0;  
    font-family: 'Amatic SC', cursive;
    @media(min-width: 435px){
        left: 0; 
    }

    .planet-div{
        position: absolute; 
        top: -24px;
        left: -22px;        
    }

    li{
        position: absolute;   
        width: 64px; 
        list-style: none; 
    }

    li img {
        border-radius: 50%;   
        height: 40px;
        width: 40px; 
    } 
    li a {  
        text-decoration: none;   
        color: #f9c1fe;
        font-size: 22px;
        @media(min-width: 1024px){
            font-size: 27px; 
        }
    }
    li a:hover {
            color: #c1fee6;
    }  
    }
           